nav{
    display: flex;
    width: 100%;
    height: 60px;

    border: 1px solid transparent;
    backdrop-filter: blur(1rem);
    background-color: black;
}

body{
    background:black;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: white;
    
}
.container1 {
    background: #F3F4F6;
    
    border: 1px solid #ccc; /* Add a border for better visualization */

    width: 100%; /* Set the width of the container */
    height:800px; /* Set the height of the container */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: black;
    margin-top: 0;
    padding-top: 0;

    
}

.profile_image{
    width: 300px; /* Set the width of the circular container */
    height: 300px; /* Set the height of the circular container */
    border-radius: 50%; /* Create a circular shape with 50% border-radius */
    overflow: hidden; /* Hide the parts of the image outside the circular container */
    border: 4px solid white; /* Set the border color to white */
    box-shadow: 0 0 20px rgba(225,225,225,0.5); /* Add a yellow shadow with a blur radius of 10px */
}

.profile_image img{
    width: 100%; /* Ensure the image takes the full width of the circular container */
    height: 100%; /* Ensure the image takes the full height of the circular container */
    object-fit: cover; /* Resize the image to cover the container while maintaining its aspect ratio */
}
.Profile_name {
    margin: 0 auto;
    width:100%;
    max-width: 100%;
    font-size: 4rem;
    text-align: center;
}



.container2{
    /* background-image: url(Image/Background.jpg); */
    
    background: rgb(29, 87, 224);
    width: auto;
    height:auto;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: white;
    margin: -100px 2% 0 2%; /* Top, Right, Bottom, Left */
    padding-bottom: 60px;
    /* border-top-left-radius: 20px;  Radius for top-left corner 
    border-top-right-radius: 20px;  Radius for top-right corner 
    border-bottom-left-radius: 20px; No radius for bottom-left corner 
    border-bottom-right-radius: 20px;  No radius for bottom-right corner          */
    border-radius: 20px;
}

.title {
    margin: 0 auto;
    width:100%;
    
    font-size: 4rem;
    text-align: center;
}

.card{
    width: 90%;
    max-width: 400px;
    padding: 5rem 2.5rem;
    border-radius: 1rem;

    border: 1px solid transparent;
    backdrop-filter: blur(1rem);

    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0,0,0,0.5);

    border-top-color: rgba(225,225,225,0.5);
    border-left-color: rgba(225,225,225,0.5);
    border-right-color: rgba(225,225,225,0.1);
    border-bottom-color: rgba(225,225,225,0.1);
    
}

.cb1{
    background-color: rgba(225,225,225,0.1);
}

.cb2 {
    color: black;
    background: linear-gradient(to right bottom, rgba(225,225,225,0.5),rgba(225,225,225,0.3));
}

.card-number{

    color: rgba(225,225,225,0.08);
    font-size: 8rem;
    z-index: -1;
    position: absolute;
    top: -1rem;
    right: 2.5rem;
}



/*=============== Quates ===================  */
.container3{
    width: auto;
    height: auto;
    background: white;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #D1D5DB;
    margin: 0 2% 0 2%;
    padding-top: 100px;
    
    padding-bottom: 100px;

}

.container3 h1{
    justify-content: center;
}



/* =============== Project Section ================= */
.container4{
    width: auto;
    height: auto;
    background-image: url(Image/Background.jpg);
    /* background: blue; */
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: white;
    margin: 0 2% 15% 2%;
    border-radius: 20px;
    padding-bottom: 85px;
}

/* ===========Experience ================== */

.container6{
    width: auto;
    height: auto;
    background-image: url(Image/Background.jpg);
    /* background:  #F2A71B; */
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: white;
    margin: 0 2% 15% 2%;
    border-radius: 20px ; /* top-left, top-right, bottom-right, bottom-left */
    padding-bottom: 85px;
}

/*  ============ Social Media ===================== */
.container5{
    
    /* margin: 30%; */
    background: #F3F4F6;
    
    /* border: 1px solid #ccc; */
    height: auto;
    


    width: auto; /* Set the width of the container */
    height:auto; /* Set the height of the container */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 75px;



}

.container5 h1{
   
    font-family: sans-serif;
    font-weight: normal;
    font-size: 25px;
    letter-spacing: 4px;
    
    color: #555;
    text-align: center;
}
.container5 p{

    font-family: sans-serif;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 7px;
    padding-bottom: 50px;
    color: #555;
    text-align: center;
}

.social-media{
    display: flex;
    justify-content: center;
}

.social-media a{
    display: flex;
    background: transparent;
    height: 60px;
    width: 60px;
    margin: 0 15px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    /* box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.1),
                -6px -6px 10px -1px rgba(0,0,0,0.5); */
    /* border: 1px solid rgba(0,0,0,0); */
    transition: transform 0.31s;
}
.social-media a i{
    font-size: 30px;
    color: #4E5760;
    padding-left: 10px;
    padding-right: 10px;
    transition: transform 0.31s;
}


.social-media a:hover{
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7);
    border: 1px solid rgba(0,0,0,0.01);
    transform: translateY(2px);
}

.social-media a:hover i{ 
    transform: scale(0.90);
}

.social-media a:hover .fa-facebook{
    color: #3b5998;
}
.social-media a:hover .fa-instagram{
    color: #f14843;
}
a:hover .fa-linkedin{
    color: #0072b1 ;
}
.social-media a:hover .fa-discord{
    color: #7289da;
}
.social-media a:hover .fa-youtube{
    color: #f00;
}


/* ============= Footer ============== */
footer{
    /* background: #F2A71B; */
    background: #F3F4F6;
    
    border: 1px solid #ccc;
    width: auto;
    height: 400px;
}



/* ===== making responsive ========  */

/* Media query for screens smaller than 600px */
/* @media (max-width: 600px) {
    // Add styles for small screens here 

    .container1, .container1, .container3,.container4, .container5, .container6,nav, footer {
        width: 100%;
      }
}

// Media query for screens between 601px and 900px
@media (min-width: 601px) and (max-width: 900px) {
    // Add styles for medium-sized screens here 
}

// Media query for screens larger than 900px 
@media (min-width: 901px) {
    // Add styles for large screens here 
} */